@font-face {
   font-family: 'walibi-holland';
   font-display: swap;
   src: url('file:///C:/Users/robbe/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-05-18_110011/fonts/walibi-holland/font.ttf');
}
